body{
	background-color: #E9F6C5;
}

.responsive-row{
	width: 100%;
	white-space: nowrap;
	display: flex;
}

#cat-list{
	width: 20%;
	display: inline-block;
	padding: 0px 10px;
	background-color: #161F00;
}

.listed-cat{
	width: 100%;
	display: flex;
	margin: 5px 0px;
	background-color: #C0E06D;

}

.cat-container{
	width: 80%;
	display: inline-block;
}

#cat-image{
	display: block;
	width: 60%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}

.click-me{
	font-size: 40px;
	text-align: center;
	margin: 0px;
}

.click-container{
	width: 100%;
	display: block;
}

#clicks-made{
	font-size: 200px;
	text-align: center;
	margin: 0px auto;
}

.cat-name{
	font-size: 32px;
	margin-left: 10px;
	display: block;
}

.cat-name-container{
	width: 60%;
}

.cat-thumbnail-container{
	width: 40%;
	height: auto;
	display: block;
}

.cat-thumbnail-container img{
	width: 100%;
	max-height: 80px;
}








/*Queries for borwser size beyond 1224*/
@media (min-width: 1224px){
	.row-container{
		width: 1480px;
		margin: 0px auto;
	}
}